@font-face {
    font-family: 'Texta Alt';
    src: url('../fonts/TextaAlt-Bold.eot');
    src: url('../fonts/TextaAlt-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TextaAlt-Bold.woff2') format('woff2'),
    url('../fonts/TextaAlt-Bold.woff') format('woff'),
    url('../fonts/TextaAlt-Bold.ttf') format('truetype'),
    url('../fonts/TextaAlt-Bold.svg#TextaAlt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Danzza Trial';
    src: url('../fonts/DanzzaTrial-Medium.eot');
    src: url('../fonts/DanzzaTrial-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DanzzaTrial-Medium.woff2') format('woff2'),
    url('../fonts/DanzzaTrial-Medium.woff') format('woff'),
    url('../fonts/DanzzaTrial-Medium.ttf') format('truetype'),
    url('../fonts/DanzzaTrial-Medium.svg#DanzzaTrial-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../fonts/SweetSansPro-Regular.eot');
    src: url('../fonts/SweetSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SweetSansPro-Regular.woff2') format('woff2'),
    url('../fonts/SweetSansPro-Regular.woff') format('woff'),
    url('../fonts/SweetSansPro-Regular.ttf') format('truetype'),
    url('../fonts/SweetSansPro-Regular.svg#SweetSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Danzza Trial';
    src: url('../fonts/DanzzaTrial-Bold.eot');
    src: url('../fonts/DanzzaTrial-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DanzzaTrial-Bold.woff2') format('woff2'),
    url('../fonts/DanzzaTrial-Bold.woff') format('woff'),
    url('../fonts/DanzzaTrial-Bold.ttf') format('truetype'),
    url('../fonts/DanzzaTrial-Bold.svg#DanzzaTrial-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Texta Alt';
    src: url('../fonts/TextaAlt-Medium.eot');
    src: url('../fonts/TextaAlt-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TextaAlt-Medium.woff2') format('woff2'),
    url('../fonts/TextaAlt-Medium.woff') format('woff'),
    url('../fonts/TextaAlt-Medium.ttf') format('truetype'),
    url('../fonts/TextaAlt-Medium.svg#TextaAlt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Danzza Trial';
    src: url('../fonts/DanzzaTrial-Regular.eot');
    src: url('../fonts/DanzzaTrial-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DanzzaTrial-Regular.woff2') format('woff2'),
    url('../fonts/DanzzaTrial-Regular.woff') format('woff'),
    url('../fonts/DanzzaTrial-Regular.ttf') format('truetype'),
    url('../fonts/DanzzaTrial-Regular.svg#DanzzaTrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    min-height: 100% !important;
    height: 100%;
}

.padding-right0 {
    padding-right: 0;
}

.margin-right0 {
    margin-right: 0;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -184px;
}

.footer-ghost {
    height: 184px;
}

#card {
    height: 100%;
    background-color: #000;
    position: fixed;
    max-width: 400px;
    top: 0;
    right: -400px;
    z-index: 4;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#card .card-content {
    width: 400px;
}

#card .card-content h3 {
    color: #ffffff;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

#card .card-content .scroller {
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
    height: calc(100vh - 70px);
}

#card .card-content .scroller .media {
    margin-top: 20px;
    border-top: 2px solid #333;
    padding-top: 20px;
    position: relative;
}

#card .card-content .scroller .media .media-body .cancel-propduct img {
    width: 20px;
}

#card .card-content .scroller .media .media-body .cancel-propduct {
    position: absolute;
    right: 15px;
    top: 30px;
}

#card .card-content .scroller .media .media-left {
    padding-right: 20px;
}

#card .card-content .scroller .product-image {
    width: 90px;
    height: 90px;
    display: block;
    background-color: #333;
}

#card .card-content .scroller .media .media-body h4 a {
    color: #fff;
    padding-right: 35px;
    font-size: 18px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

#card .card-content .scroller .media .media-body span {
    font-size: 16px;
    color: #fff;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

#card .quantity {
    position: relative;
    display: block;
    width: 100px;
    margin-top: 10px;
}

#card input[type=number]::-webkit-inner-spin-button,
#card input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#card input[type=number] {
    -moz-appearance: textfield;
}

#card .quantity input {
    background-color: transparent;
    width: 100px;
    height: 32px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 43px;
    border: 1px solid #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    color: #fff;
}

#card .quantity input:focus {
    outline: 0;
}

#card .quantity-nav {
    /*float: left;*/
    /*position: relative;*/
    height: 32px;
}

#card .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#card .quantity-button.quantity-up {
    position: absolute;
    height: 100%;
    top: 0;
    right: -30px;
    border-left: 1px solid #333;
    width: 30px;
    line-height: 32px;
    font-size: 20px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #fff;
}

#card .quantity-button.quantity-down {
    position: absolute;
    top: 0;
    left: 30px;
    height: 100%;
    border-right: 1px solid #333;
    width: 30px;
    border-left: none;
    line-height: 32px;
    font-size: 20px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #fff;
}

#card .card-content .total-area {
    border-top: 2px solid #333;
    margin-top: 20px;
}

#card .card-content .total-area .total,
#card .card-content .total-area .total-description {
    display: inline-block;
    padding-top: 20px;
}

#card .card-content .total-area .total {
    width: 38%;
}

#card .card-content .total-area .total h5 {
    font-size: 18px;
    color: #fff;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: normal;
}

#card .card-content .total-area .total span {
    color: #fff;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-top: 10px;
    display: block;
    font-weight: bold;
    position: relative;
    top: -5px;
}

#card .card-content .btn-shop {
    width: 100%;
    background-color: transparent;
    height: 60px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 70px;
}

#card .card-content .total-area .total-description {
    width: 60%;
}

#card .card-content .total-area .total-description p {
    font-size: 14px;
    padding: 0;
    color: #666;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

#menu {
    height: 100%;
    background-color: #fff;
    position: fixed;
    max-width: 400px;
    top: 0;
    right: -400px;
    z-index: 4;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#menu .close-menu,
#card .close-menu {
    position: absolute;
    right: 40px;
    top: 20px;
}

#menu .close-menu img,
#card .close-menu img {
    width: 24px;
}

#menu ul.list-group {
    margin-top: 70px;
    width: 400px;
}

#menu ul.list-group li a.drop-toggle span {
    float: right;
}

#menu ul.list-group li ul.drop-menu {
    position: relative;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding-left: 40px;
    border-top: 1px solid #ddd;
    display: none;
}

#menu ul li {
    padding: 0;
    border-right: 0;
    border-left: 0;
}

#menu ul li:last-child,
#menu ul li:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#menu ul li a {
    display: block;
    padding: 20px 30px;
    font-size: 22px;
    color: #333;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

button {
    outline: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

p {
    font-size: 23px;
    padding-right: 30px;
}

.header-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(100vh - 50px);
    min-height: 600px;
}

.img-header {
    width: 100%;
    height: calc(100vh - 50px);
    min-height: 600px;
    padding-left: 105px;
}

.heading1 {
    position: absolute;
    top: 400px;
    left: 50px;
    color: #000;
    font-size: 80px;
    font-weight: 500;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

.heading2 {
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 500;
    position: absolute;
    top: 200px;
    left: 50px;
    color: #000;
    font-size: 80px;
}

.heading1 span {
    font-size: 25px;
    position: absolute;
    top: -20px;
}

.page {
    margin-top: 100px;
    margin-bottom: 100px;
}

.page .text-classic p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Danzza Trial Regular', Arial, sans-serif;
}

header .mts-navbar {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 3;
}

header .mts-navbar a img {
    position: relative;
    left: 30px;
    width: 120px;
}

header .mts-navbar ul {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

header .mts-navbar ul li {
    display: inline-block;
    padding-right: 30px;
}

header .mts-navbar ul li a {
    color: #000;
    font-size: 16px;
    font-family: 'Danzza Trial', Arial, sans-serif;
    font-weight: 500;
}

/* menu cubukları */
header .mts-navbar ul li a i {
    background-color: #000;
    display: inline-block;
    height: 3px;
    width: 40px;
    position: relative;
    top: -3px;
}

header .mts-navbar ul li a i:before {
    content: '';
    background-color: #000;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -10px;
}

header .mts-navbar ul li a i:after {
    content: '';
    background-color: #000;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 10px;
}

/* menu cubukları bitiş */

main#index {
    margin-top: 0;
}

main#index p {
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 30px;
    font-family: 'Sweet Sans Pro', Arial, sans-serif;
}

main#index .bg-pink {
    background-color: #f2dedf;
    padding-top: 100px;
}

main#index .bg-pink-2 {
    background-color: #f2dedf;
}

main#index .index-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 740px;
    padding-right: 20px;
}

main#index .index-img.right-img {
    background-position: center;
}

main#index .h1-lorem {
    position: absolute;
    top: 50px;
    right: -82px;
    font-weight: 500;
    font-size: 80px;
    line-height: 100px;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#index .shop-now-1 {
    position: relative;
    top: 300px;
    padding-right: 50px;
}

main#index .shop-now-2 {
    position: relative;
    top: 300px;
    padding-left: 50px;
}

main#index .shop {
    width: 100%;
    border-radius: 0;
    border: 2px solid #000;
    padding: 20px 0 50px 0;
    font-size: 25px;
    margin-top: 30px;
    font-weight: 500;
    background-color: transparent;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#index .shop:hover {
    color: white;
}

main#index .bg-pink-2 .shop-2 {
    padding: 0;
    margin: 0;
    bottom: 50px;
    left: 50px;
}

main#index .bg-pink-2 .shop-2 button {
    width: 83%;
    border-radius: 0;
    border: 2px solid #000;
    padding: 20px 0 50px 0;
    font-size: 25px;
}

main#index .bg-blue {
    background-color: #a6e1ec;
    padding-top: 100px;
}

main#index .bg-blue-2 {
    background-color: #a6e1ec;
}

main#index .h1-amet {
    position: absolute;
    top: 50px;
    left: -110px;
    text-align: right;
    font-size: 80px;
    font-weight: 500;
    line-height: 100px;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#index .h2-lorem {
    background-image: url("../images/mts_web-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 173px 0;
    text-align: center;
}

main#index .h2-lorem h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#collections {
    margin: 75px 0;
}

main#collections .collection-pics {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-top: 20px;
    position: relative;
}

main#collections .collection-pics:after {
    content: 'Collection Name';
    background-color: #fff;
    padding-top: 30px ;
    font-size: 35px;
    width: 350px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000000;
    font-weight: 500;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#signup-login {
    margin-top: 500px;
}

main#signup-login a {
    font-size: 20px;
    color: gray;
    position: relative;
    top: 30px;
}

main#signup-login p,
main#contact p {
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#contact #map {
    width: 100%;
    min-height: 100vh;
}

main#contact .content {
    margin-top: 150px;
    margin-bottom: 150px;
}

main#signup-login span,
main#contact span {
    color: #808080;
    font-weight: bold;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#signup-login .email-setting,
main#signup-login .name-setting,
main#contact .email-setting,
main#contact .name-setting {
    border-radius: 0;
    padding: 30px 15px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#signup-login .message-setting,
main#contact .message-setting {
    padding: 15px;
    border-radius: 0;
    height: 150px;
    resize: none;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#signup-login .send-setting,
main#contact .send-setting {
    border-radius: 0;
    padding: 20px 15px 50px 15px;
    font-size: 25px;
    border: 3px solid #000;
    font-weight: 500;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#signup-login .forgot-password,
main#contact .forgot-password {
    color: gray;
    font-weight: normal;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#signup-login .create-account,
main#contact .create-account {
    color: gray;
    text-align: right;
    font-weight: normal;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

main#faq .header {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 665px;
    background-image: url("../images/mts_web-42.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main#faq .header h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: -60px;
    bottom: 50px;
    color: #000;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 84px;
}

main#faq .content {
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
    display: block;
}

main#faq .content .panel-default {
    border-radius: 0;
}

main#faq .content .panel-default .panel-heading {
    padding: 0;
    background-color: transparent;
}

main#faq .content .panel-default .panel-heading a {
    display: block;
    padding: 20px 35px;
    font-size: 22px;
    color: #000;
    font-weight: 500;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#faq .content .panel-default .panel-collapse .panel-body {
    padding: 35px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    line-height: 35px;
}

main#faq .content .panel-group .panel + .panel {
    margin-top: 0;
}

main#my_account {
    padding-top: 250px;
}

main#my_account .content {
    margin-bottom: 150px;
}

main#my_account .content table {
    margin-top: 30px;
}

main#my_account .content table thead {
    font-size: 24px;
    color: #666;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#my_account .content table tbody {
    font-size: 18px;
    color: #666;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

main#my_account .content table tbody tr td {
    padding-top: 15px;
    padding-bottom: 15px;
}

main#my_account .content table tbody tr {
    background-color: transparent !important;
}

main#my_account .content table tbody a {
    color: #29ABE2;
}

main#my_account .content table tbody a {

}

main#my_account .content h1 {
    left: 50px;
    position: relative;
    color: #000;
    font-size: 80px;
    font-weight: 500;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#my_account .content h3 {
    margin-top: 60px;
    color: #000;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#my_account .content p {
    margin-top: 30px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    line-height: 70px;
    color: #000;
    font-size: 22px;
    font-weight: normal;
}

.table-account th, .table-account td {
    font-family: 'Danzza Trial Regular', Helvetica, Arial, sans-serif;
}

main#my_account .content a.addresses {
    margin-top: 30px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 22px;
}

main#product_detail {
    padding-top: 200px;
}

main#product_detail h1 {
    color: #000;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#product_detail h3 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#product_detail .quantity {
    margin-left: 30px;
    position: relative;
    display: inline-block;
    width: 150px;
}

main#product_detail .add-product {
    margin-top: 50px;
    width: 100%;
    height: 90px;
    border: 3px solid #000000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 500;
}

main#product_detail input[type=number]::-webkit-inner-spin-button,
main#product_detail input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main#product_detail input[type=number] {
    -moz-appearance: textfield;
}

main#product_detail .quantity input {
    width: 150px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 70px;
    border: 1px solid #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    color: #000;
}

main#product_detail label {
    font-size: 20px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000;
    position: relative;
}

main#product_detail label.quantity-label {
    top: -16px;
}

main#product_detail .quantity input:focus {
    outline: 0;
}

main#product_detail .quantity-nav {
    /*float: left;*/
    /*position: relative;*/
    height: 42px;
}

main#product_detail .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

main#product_detail .quantity-button.quantity-up {
    position: absolute;
    height: 100%;
    top: 0;
    right: -50px;
    border-left: 1px solid #000;
    width: 50px;
    line-height: 42px;
    font-size: 28px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    color: #000;
}

main#product_detail .quantity-button.quantity-down {
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    border-right: 1px solid #000;
    width: 50px;
    border-left: none;
    line-height: 42px;
    font-size: 28px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    color: #000;
}

main#product_detail p {
    color: #000;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
    line-height: 40px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#product_detail .related {
    margin-top: 80px;
}

main#product_detail .related-content {
    margin-bottom: 150px;
}

main#product_detail .related-content .related-posts {
    margin: 30px 0;
    background-color: #F2F2F2;
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

main#product_detail .related-content .related-posts a .no-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -64px;
    margin-left: -64px;
    width: 128px;
}

main#product_detail .related-content .related-posts a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

main#product_detail .related-content .related-posts a span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 60%;
    padding: 10px 35px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000;
    background-color: #fff;
}

main#customer {
    padding-top: 150px;
    padding-bottom: 100px;
}

main#customer .head {
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000;
    padding-left: 50px;
    font-size: 80px;
}

main#customer .media {
    margin-top: 70px;
}

main#customer .media .media-body h4 {
    color: #000;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

main#customer .media .media-body a {
    display: inline-block;
    color: #000;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#customer .media .media-body a.exit {
    font-weight: 500;
    font-size: 16px;
}

main#customer .breadcrumb {
    padding-left: 50px;
    background-color: transparent;
}

main#customer .breadcrumb li a {
    color: #999;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

main#customer .breadcrumb li.active {
    color: #00a3ff;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

main#customer .breadcrumb li:first-child::before {
    content: '';
}

main#customer .breadcrumb li::before {
    font-family: Flaticon;
    content: '\f103';
    color: #666;
    font-size: 17px;
}

main#customer .prodpucts {
    margin-top: 70px;
    padding-top: 100px;
    background-color: #eaeaea;
    padding-bottom: 80px;
}

main#customer .prodpucts .scroller {
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
    position: relative;
}

main#customer .prodpucts .scroller .media {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    position: relative;
}

main#customer .prodpucts .scroller .media .media-left {
    padding-right: 20px;
}

main#customer .prodpucts .scroller .media .media-left img {
    width: 99px;
}

main#customer .prodpucts .scroller .media .media-body h4 a {
    color: #000;
    padding-right: 35px;
    font-size: 18px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

main#customer .prodpucts .scroller .media .media-body span {
    font-size: 16px;
    color: #000;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

main#customer .quantity {
    position: relative;
    display: block;
    width: 100px;
    margin-top: 10px;
}

main#customer input[type=number]::-webkit-inner-spin-button,
main#customer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main#customer input[type=number] {
    -moz-appearance: textfield;
}

main#customer .quantity input {
    background-color: transparent;
    width: 100px;
    height: 32px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 43px;
    border: 1px solid #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    color: #000;
}

main#customer .quantity input:focus {
    outline: 0;
}

main#customer .quantity-nav {
    /*float: left;*/
    /*position: relative;*/
    height: 32px;
}

main#customer .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

main#customer .quantity-button.quantity-up {
    position: absolute;
    height: 100%;
    top: 0;
    right: -30px;
    border-left: 1px solid #333;
    width: 30px;
    line-height: 32px;
    font-size: 20px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000;
}

main#customer .quantity-button.quantity-down {
    position: absolute;
    top: 0;
    left: 30px;
    height: 100%;
    border-right: 1px solid #333;
    width: 30px;
    border-left: none;
    line-height: 32px;
    font-size: 20px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000;
}

main#customer .prodpucts .total-area {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

main#customer .prodpucts .total-area .total,
main#customer .prodpucts .total-area .total-description {
    display: inline-block;
    padding-top: 20px;
}

main#customer .prodpucts .total-area .total {
    width: 100%;
}

main#customer .prodpucts .total-area .total h5 {
    font-size: 18px;
    color: #000;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 400;
}

main#customer .prodpucts .total-area .total span {
    color: #000;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-top: 10px;
    display: block;
    font-weight: bold;
    position: relative;
    top: -5px;
}

main#customer form h3 {
    margin-top: 40px;
    margin-bottom: 35px;
    color: #000000;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-size: 30px;
}

main#customer .forms {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 30px 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 18px;
}

main#customer .return-store {
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
}

main#customer .btn-submit {
    width: 100%;
    height: 100px;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
    font-weight: 500;
    border: 2px solid #000;
    color: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

main#customer div.cs-skin-border {
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

main#customer .cs-skin-border.cs-active > span {
    color: #000;
}

main#customer .cs-skin-border.cs-active .cs-options {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

main#customer div.cs-skin-border .cs-placeholder {
    color: #999;
}

main#customer .cs-skin-border .cs-options {
    color: #000;
}

main#customer .cs-skin-border > span {
    border: 1px solid #ccc;
}

main#customer .cs-select span {
    padding: 17px 15px;
}

footer .arrows {
    background: url("../images/arrows.png") repeat-x;
    background-size: 14px;
    height: 15px;
    position: relative;
    display: block;
    top: -8px;
}

footer h2 {
    color: #000;
    position: relative;
    top: -20px;
    font-size: 30px;
    line-height: 26px;
    font-weight: 500;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}

footer li a {
    color: gray;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    font-family: 'Danzza Trial', Helvetica, Arial, sans-serif;
}
footer li a:hover {
    color: #000;
}

footer .col-md-2 a i:before {
    color: #000;
    font-size: 34px !important;
    margin-left: 0;
    margin-right: 20px;
    position: relative;
    top: -8px;
}

footer .col-md-3 .form-inline .form-control {
    border-radius: 0;
    font-weight: normal;
    font-family: 'Danzza Trial', Arial, sans-serif;
}

footer .col-md-3 .form-inline .right-arrow {
    border-color: #000;
    background-color: #000;
    padding: 2px 10px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 20px;
    position: relative;
    left: -5px;
}

footer .col-md-3 .form-inline .flaticon-right-arrow:before {
    margin: 0;
}

@media screen and (max-width: 767px) {
    main#customer .head {
        padding: 0;
        font-size: 40px;
    }

    main#customer .breadcrumb {
        padding: 0;
    }

    .header-image {
        min-height: 250px;
    }

    .header-image {
        min-height: 250px;
    }

    .heading1 {
        top: 300px;
        left: 45px;
        font-size: 50px;
    }

    .heading2 {
        top: 120px;
        left: 20px;
        font-size: 50px;
    }

    header .mts-navbar a img {
        left: 0;
        width: 70px;
    }

    header .mts-navbar ul li {
        padding-right: 5px;
    }

    header .mts-navbar ul li a i {
        width: 30px;
    }

    header .mts-navbar ul li a i:before {
        top: -7px;
    }

    header .mts-navbar ul li a i:after {
        top: 7px;
    }

    main#faq .header {
        min-height: 350px;
        height: 350px;
    }

    main#faq .content {
        margin-top: 50px;
        margin-bottom: 75px;
    }

    main#my_account .content h1 {
        font-size: 50px;
        margin-bottom: 50px;
        left: 0;
        padding-left: 20px;
    }

    main#index .h1-lorem {
        right: -50px;
        font-size: 60px;
        line-height: 65px;
    }

    main#index .shop {
        background-color: #fff;
    }

    main#index .shop:hover {
        color: #000;
    }

    main#index .h1-amet {
        left: -50px;
        font-size: 60px;
        line-height: 55px;
    }

    main#index .shop-now-1 {
        top: -150px;
    }

    main#index .shop-now-2 {
        top: 650px;
        z-index: 1;
    }

    main#collections .collection-pics:after {
        padding-top: 20px;
        font-size: 25px;
        width: 75%;
        height: 70px;
    }

    main#signup-login {
        margin-top: 300px;
    }

    footer .col-md-3 .form-inline .form-control {
        width: 100px;
    }

    footer .col-md-2 a i:before {
        margin-right: 0;
    }

    footer .col-md-3 .form-inline .right-arrow {
        top: -49px;
        left: 99px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .header-image {
        min-height: 400px;
    }

    main#collections .collection-pics:after {
        padding-top: 20px;
        font-size: 25px;
        width: 75%;
        height: 70px;
    }

    main#signup-login {
        margin-top: 350px;
    }

    .heading1 {
        top: 300px;
        left: 45px;
        font-size: 50px;
    }

    .heading2 {
        top: 200px;
        font-size: 50px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .header-image {
        min-height: 500px;
    }

    main#signup-login {
        margin-top: 400px;
    }

    .heading1 {
        top: 300px;
        left: 45px;
        font-size: 50px;
    }

    .heading2 {
        top: 230px;
        font-size: 50px;
    }

    footer .col-md-3 .form-inline .form-control {
        width: 150px;
    }

    footer .col-md-2 a i:before {
        margin-right: 8px;
    }

}

@media screen and (min-width: 1200px) {
}